---
import Layout from '../layouts/Layout.astro';
import previewImage from '../images/preview.jpg';
import Card from "../components/Card.astro";
import Oss from "../images/oss.png";
import Bg from "../images/bg.png";
import PowerfulFoundation from "../images/powerful-foundation.png";
import SchemaBrowser from "../images/schema-browser.png";
import VisualOperation from "../images/visual-operation-builder.png";
import { Trailblazer } from "@pathfinder/core"
---

<Layout>
	<section class="flex flex-col items-center justify-center mt-[80px]">
		<iframe style="margin-left: 38px" class="scale-75" src="https://ghbtns.com/github-btn.html?user=grafbase&repo=grafbase&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
		<h1 class="text-7xl font-extrabold text-transparent bg-clip-text bg-gradient-to-b from-white to-gray-400 max-w-xl text-center mt-8">The missing GraphQL IDE</h1>
		<p class="text-gray-300 mt-3 text-lg max-w-2xl text-center">Pathfinder enables you to interact with GraphQL APIs using an intuitive user interface.</p>
		<button class="bg-gradient-to-r from-purple-500 to-blue-500 px-6 py-4 rounded-md mt-8 flex items-center gap-2 justify-center">
			<!--<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
			<!--	<path d="M16.8617 12.3181C16.8617 10.796 17.5851 9.68519 18.9894 8.82126C18.1809 7.71048 16.9894 7.13452 15.4149 7.0111C13.883 6.88768 12.2234 7.8339 11.6277 7.8339C10.9894 7.8339 9.54255 7.05224 8.39362 7.05224C6.01064 7.09338 3.5 8.8624 3.5 12.5238C3.5 13.5935 3.67021 14.7043 4.09574 15.8562C4.64894 17.3783 6.60638 21.0809 8.64894 20.9986C9.71277 20.9986 10.4787 20.2581 11.883 20.2581C13.2447 20.2581 13.9255 20.9986 15.117 20.9986C17.2021 20.9986 18.9894 17.6252 19.5 16.103C16.734 14.8277 16.8617 12.4004 16.8617 12.3181Z" fill="white"/>-->
			<!--	<path d="M15.4958 1C15.4958 1.41044 15.623 2.52983 14.4783 3.72384C13.6304 4.58204 12.613 5.06711 11.5107 4.99248C11.4259 3.98503 11.8499 3.05221 12.613 2.30595C13.2913 1.63432 14.4783 1.07463 15.4958 1Z" fill="white"/>-->
			<!--</svg>-->
			<span class="text-white font-medium text-lg">Coming soon!</span>
		</button>
	</section>
	<section>
		<div class="my-20 relative container mx-auto">
			<div class="absolute top-0 overflow-hidden opacity-50">
				<svg height="750" viewBox="0 0 1398 663" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g opacity="0.4">
						<line opacity="0.3" y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(-4.37114e-08 -1 -1 4.37114e-08 900.25 662.742)" stroke="url(#paint0_linear_2_14)" stroke-width="1.03594"/>
						<line opacity="0.6" y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(-4.37114e-08 -1 -1 4.37114e-08 983.125 662.742)" stroke="url(#paint1_linear_2_14)" stroke-width="1.03594"/>
						<line opacity="0.7" y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(-4.37114e-08 -1 -1 4.37114e-08 1066 662.742)" stroke="url(#paint2_linear_2_14)" stroke-width="1.03594"/>
						<path opacity="0.8" d="M1149.39 562.742L1149.39 36" stroke="url(#paint3_linear_2_14)" stroke-width="1.03594"/>
						<line opacity="0.9" y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(-4.37114e-08 -1 -1 4.37114e-08 1231.75 662.742)" stroke="url(#paint4_linear_2_14)" stroke-width="1.03594"/>
						<line y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(-4.37114e-08 -1 -1 4.37114e-08 1314.62 662.742)" stroke="url(#paint5_linear_2_14)" stroke-width="1.03594"/>
						<line y1="-0.517969" x2="663" y2="-0.517969" transform="matrix(1 0 0 -1 734.5 496.992)" stroke="url(#paint6_linear_2_14)" stroke-width="1.03594"/>
						<line y1="-0.517969" x2="663" y2="-0.517969" transform="matrix(1 0 0 -1 734.5 414.117)" stroke="url(#paint7_linear_2_14)" stroke-width="1.03594"/>
						<line y1="-0.517969" x2="663" y2="-0.517969" transform="matrix(1 0 0 -1 734.5 331.242)" stroke="url(#paint8_linear_2_14)" stroke-width="1.03594"/>
						<line y1="-0.517969" x2="663" y2="-0.517969" transform="matrix(1 0 0 -1 734.5 248.367)" stroke="url(#paint9_linear_2_14)" stroke-width="1.03594"/>
						<path opacity="0.6" d="M786.5 166.01L1317.5 166.01" stroke="url(#paint10_linear_2_14)" stroke-width="1.03594"/>
					</g>
					<g opacity="0.4">
						<line opacity="0.3" y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(4.37114e-08 1 1 -4.37114e-08 497.75 0)" stroke="url(#paint11_linear_2_14)" stroke-width="1.03594"/>
						<line opacity="0.6" y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(4.37114e-08 1 1 -4.37114e-08 414.875 0)" stroke="url(#paint12_linear_2_14)" stroke-width="1.03594"/>
						<line opacity="0.7" y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(4.37114e-08 1 1 -4.37114e-08 332 0)" stroke="url(#paint13_linear_2_14)" stroke-width="1.03594"/>
						<line opacity="0.8" y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(4.37114e-08 1 1 -4.37114e-08 249.125 0)" stroke="url(#paint14_linear_2_14)" stroke-width="1.03594"/>
						<line opacity="0.9" y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(4.37114e-08 1 1 -4.37114e-08 166.25 0)" stroke="url(#paint15_linear_2_14)" stroke-width="1.03594"/>
						<line y1="-0.517969" x2="626.742" y2="-0.517969" transform="matrix(4.37114e-08 1 1 -4.37114e-08 83.375 0)" stroke="url(#paint16_linear_2_14)" stroke-width="1.03594"/>
						<line y1="-0.517969" x2="663" y2="-0.517969" transform="matrix(-1 0 0 1 663.5 165.75)" stroke="url(#paint17_linear_2_14)" stroke-width="1.03594"/>
						<line y1="-0.517969" x2="663" y2="-0.517969" transform="matrix(-1 0 0 1 663.5 248.625)" stroke="url(#paint18_linear_2_14)" stroke-width="1.03594"/>
						<path d="M557.5 330.982L0.5 330.982" stroke="url(#paint19_linear_2_14)" stroke-width="1.03594"/>
						<line y1="-0.517969" x2="663" y2="-0.517969" transform="matrix(-1 0 0 1 663.5 414.375)" stroke="url(#paint20_linear_2_14)" stroke-width="1.03594"/>
						<line opacity="0.4" y1="-0.517969" x2="663" y2="-0.517969" transform="matrix(-1 0 0 1 663.5 497.25)" stroke="url(#paint21_linear_2_14)" stroke-width="1.03594"/>
					</g>
					<rect x="82.5" y="328.742" width="81" height="81" transform="rotate(-180 82.5 328.742)" fill="url(#paint22_linear_2_14)" fill-opacity="0.12"/>
					<rect x="82.5" y="413.742" width="81" height="81" fill="url(#paint23_linear_2_14)" fill-opacity="0.08"/>
					<rect x="1397.5" y="412.742" width="81" height="81" transform="rotate(-180 1397.5 412.742)" fill="url(#paint24_linear_2_14)" fill-opacity="0.11"/>
					<rect x="1315.5" y="247.742" width="81" height="81" transform="rotate(-180 1315.5 247.742)" fill="url(#paint25_linear_2_14)" fill-opacity="0.11"/>
					<defs>
						<linearGradient id="paint0_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.733884" stop-color="#535858"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint1_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.555915" stop-color="#535858"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint2_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.607494" stop-color="#818282"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint3_linear_2_14" x1="1148.87" y1="36" x2="1148.87" y2="552.742" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.283976" stop-color="#878787" stop-opacity="0.41"/>
							<stop offset="0.696173" stop-color="#969696"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint4_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.226157" stop-color="#9A9A9A"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint5_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.636364" stop-color="#535858"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint6_linear_2_14" x1="0" y1="0" x2="663" y2="8.21492e-09" gradientUnits="userSpaceOnUse">
							<stop stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.834016" stop-color="#949595"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint7_linear_2_14" x1="0" y1="0" x2="663" y2="8.21492e-09" gradientUnits="userSpaceOnUse">
							<stop stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.614253" stop-color="#949494"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint8_linear_2_14" x1="0" y1="0" x2="663" y2="8.21492e-09" gradientUnits="userSpaceOnUse">
							<stop stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.581967" stop-color="#535858"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint9_linear_2_14" x1="0" y1="0" x2="663" y2="8.21492e-09" gradientUnits="userSpaceOnUse">
							<stop offset="0.354449" stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.698341" stop-color="#8F8F8F"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint10_linear_2_14" x1="734.504" y1="-2.40179e+13" x2="1397.5" y2="-2.40179e+13" gradientUnits="userSpaceOnUse">
							<stop offset="0.245852" stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.74359" stop-color="#B7B7B7"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint11_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.733884" stop-color="#535858"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint12_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.555915" stop-color="#535858"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint13_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.327088" stop-color="#898989"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint14_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.741932" stop-color="#8C8C8C"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint15_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.586777" stop-color="#8A8A8A"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint16_linear_2_14" x1="626.742" y1="-2.64454e-05" x2="0" y2="1.93481e-06" gradientUnits="userSpaceOnUse">
							<stop stop-color="#171D1E" stop-opacity="0.3"/>
							<stop offset="0.0001" stop-color="#16171B" stop-opacity="0"/>
							<stop offset="0.636364" stop-color="#535858"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint17_linear_2_14" x1="0" y1="0" x2="663" y2="8.21492e-09" gradientUnits="userSpaceOnUse">
							<stop stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.834016" stop-color="#535858"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint18_linear_2_14" x1="0" y1="0" x2="663" y2="8.21492e-09" gradientUnits="userSpaceOnUse">
							<stop stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.757164" stop-color="#919191"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint19_linear_2_14" x1="557.502" y1="-1.26607e+13" x2="0.501116" y2="-1.26607e+13" gradientUnits="userSpaceOnUse">
							<stop stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.301659" stop-color="#8C8D8D"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint20_linear_2_14" x1="0" y1="0" x2="663" y2="8.21492e-09" gradientUnits="userSpaceOnUse">
							<stop stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.491803" stop-color="#999999"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint21_linear_2_14" x1="0" y1="0" x2="663" y2="8.21492e-09" gradientUnits="userSpaceOnUse">
							<stop stop-color="#16171B" stop-opacity="0.3"/>
							<stop offset="0.641393" stop-color="#323636"/>
							<stop offset="1" stop-color="#16171B" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint22_linear_2_14" x1="82.5" y1="328.742" x2="163.5" y2="409.742" gradientUnits="userSpaceOnUse">
							<stop stop-color="#4F4F4F" stop-opacity="0.3"/>
							<stop offset="1" stop-color="white"/>
						</linearGradient>
						<linearGradient id="paint23_linear_2_14" x1="82.5" y1="413.742" x2="163.5" y2="494.742" gradientUnits="userSpaceOnUse">
							<stop stop-color="white"/>
							<stop offset="1" stop-color="#4F4F4F" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint24_linear_2_14" x1="1397.5" y1="412.742" x2="1478.5" y2="493.742" gradientUnits="userSpaceOnUse">
							<stop stop-color="white"/>
							<stop offset="1" stop-color="#4F4F4F" stop-opacity="0.3"/>
						</linearGradient>
						<linearGradient id="paint25_linear_2_14" x1="1315.5" y1="247.742" x2="1396.5" y2="328.742" gradientUnits="userSpaceOnUse">
							<stop stop-color="white"/>
							<stop offset="1" stop-color="#4F4F4F" stop-opacity="0.3"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="absolute h-[750px] top-52 items-center justify-center">
				<div class="h-[100px] rounded-md  bg-gradient-to-r from-purple-500 to-blue-500 blur-xl opacity-25 scale-[5]">
				</div>
			</div>
			<div class="absolute items-center justify-center -top-40 ml-10">
				<img src={Bg.src} alt="Pathfinder preview image" class="w-full"/>
			</div>
			<Trailblazer client:only="react"
						 mode="MINI"
                         schemaProps={{
                             fetcherOptions: {
                                 endpoint: "https://graphql.earthdata.nasa.gov/api",
        					}
                         }}>
			</Trailblazer>
		</div>
	</section>
	<section class="container mx-auto my-[220px]">
		<h1 class="text-5xl font-extrabold text-center text-transparent bg-clip-text bg-gradient-to-b from-white to-gray-400 mt-12">Features</h1>
		<div class="mt-12 grid sm:grid-cols-2 gap-8">
			<Card image={Oss} title="Open Source" description="Built on top of React, zustand, monaco-editor, monaco-graphql, and vanilla-extract" />
			<Card image={VisualOperation} title="Visual Operation Builder" description="Browse operations in a tree-like view and build them with the click of a button" />
			<Card image={SchemaBrowser} title="Schema Browser" description="Explore your GraphQL schema with a built-in reference view"/>
			<Card image={PowerfulFoundation} title="Built on a Powerful Foundation" description="A familiar, Visual Studio Code-like editing experience powered by Monaco Editor" />
		</div>
	</section>
</Layout>

