---
import '@fontsource/inter/latin.css';

const title = "Pathfinder"
const description = "Pathfinder helps you interact with your GraphQL API with ease."
const url = "https://pathfinder.dev"
const siteName = "Pathfinder"
const imageUrl = url + '/og.jpg'
const keywords = 'Pathfinder, GraphQL'
---

<!doctype html>
<html lang="en" class="bg-black">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content="Pathfinder helps you interact with your GraphQL API with ease." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={url} />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:image" content={imageUrl} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:site" content={siteName} />
		<meta name="twitter:image" content={imageUrl} />

		<link rel="canonical" href={url} />

		<meta name="keywords" content={keywords} />
		<meta name="application-name" content={title} />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="apple-mobile-web-app-title" content={title} />
		<meta name="format-detection" content="telephone=no" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script>
			window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
		</script>
		<script defer src="/_vercel/insights/script.js"></script>
	</head>
	<body>
		<slot />
		<footer class="flex justify-between border-t border-gray-800 pt-4 my-12 container mx-auto">
			<div class="text-sm text-gray-400">
				Grafbase, Inc. © 2023
			</div>
			<div>
				<a href="https://grafbase.com" class="underline text-gray-400 text-sm">https://grafbase.com</a>
			</div>
		</footer>
	</body>
</html>
